.containerLogin {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh; /* Set a minimum height to ensure the container covers the full viewport height */
    padding: 50px;
    border-radius: 20px;
    box-shadow: #3107ca44 0px 0px 20px 10px;
}

.containerLogin:hover {
    box-shadow: rgba(227, 226, 255, 0.247) 0px 0px 20px 10px;
    transition: 0.5s;
}

.textBtnContainer {
    margin-top: 5vh; /* Adjust as needed */
}